/ {
    chosen {
        zephyr,console = &uart0;
    };

    aliases {
        arducam0 = &arducam0;
    };

    /* Manual chip select line (GPIO0 pin 25, active low) */
    cs_arducam0: cs_arducam0 {
        gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};

/* Enable GPIO0 controller */
&gpio0 {
    status = "okay";
};

/* SPI1 bus used for Arducam Mega */
&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    arducam0: arducam_mega@0 {
        compatible = "arducam,mega";
        reg = <0>;                            /* manual CS */
        spi-max-frequency = <8000000>;
        cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>; /* not used automatically */
        status = "okay";
    };
};

/* SPI1 pin assignments */
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 6)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 7)>,
                    <NRF_PSEL(SPIM_MISO, 0, 26)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 6)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 7)>,
                    <NRF_PSEL(SPIM_MISO, 0, 26)>;
            low-power-enable;
        };
    };
};
